.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.icons {
  display: flex;
  gap: 20px;

  img {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}

.userInfo > .user {
  margin-right: 20px; /* Adjust this value to increase spacing between the user section and icons */
}
