nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f58a;
  border-bottom: 2px solid rgba(0, 0, 255, 0.2);
}

nav .nav-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow:
    1px 1px 0px 0px,
    2px 2px 0px 0px,
    3px 3px 0px 0px,
    4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  margin: 10px;
}

nav .nav-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  nav .nav-button {
    padding: 0.25em 0.75em;
  }
}

nav .header-container .logo {
  margin: 15px;
  width: 100%;
}

.primary-title {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  color: #333;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}
