.chat-app {
    max-width: 728px;
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
    margin-top: 10px;
  }
  
  .chat-header {
    background-color: #007bff;
    height: 10vh;
    min-height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .chat-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .chat-main {
    padding: 10px;
    height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .chat-main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  .chat-main::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  .chat-main::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  .chat-form {
    height: 10vh;
    display: flex;
    font-size: 1.5rem;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .chat-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    background-color: #f1f1f1;
  }
  
  .chat-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .chat-submit:disabled {
    background-color: #cccccc;
  }
  
  .message {
    display: flex;
    align-items: flex-start; /* Align items to the start */
    padding: 5px 10px; /* Reduced padding */
    margin: 5px 0; /* Reduced margin */
    border-radius: 8px;
  }
  
  .message.sent {
    flex-direction: row-reverse; /* Reverse direction for sent messages */
  }
  
  .message.received {
    background-color: #ffffff;
  }
  
  .message-avatar {
    width: 30px; /* Smaller avatar */
    height: 30px; /* Smaller avatar */
    border-radius: 50%;
    margin: 0 8px; /* Adjust margin */
  }
  
  .message-text {
    max-width: 60%;
    word-wrap: break-word;
    font-size: 1rem; /* Adjust font size */
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  ul, li {
    text-align: left;
    list-style: none;
  }
  
  p {
    margin-bottom: 8px; /* Reduced bottom margin */
    padding: 8px 16px; /* Reduced padding */
    border-radius: 20px; /* Slightly smaller border radius */
    position: relative;
    color: white;
    text-align: center;
  }
  
  .sent p {
    background: #0b93f6;
    align-self: flex-end;
  }
  
  .received p {
    background: #e5e5ea;
    color: black;
  }
  