/* Default button styles */
.button {
  background-color: #f0f0f0;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: left;
  display: block;
}

buttons-container{ 
    position: relative;
    display: inline-block;
}

/* Show dropdown content when button is hovered or active */
.button:hover .dropdown-content,
.button.active .dropdown-content {
  display: block;
}

/* Dropdown item styles */
.dropdown-content .button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  box-shadow: none;
  text-align: left;
  width: 40%;
  display: block;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid #000;
}

/* Hover state for dropdown items */
.dropdown-content .button:hover {
  background-color: #e0e0e0;
}

/* Active state for dropdown items */
.dropdown-content .button.active {
  background-color: #333;
  color: #fff;
}
